body {
    margin: 60px auto;
    width: 80%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    position: absolute;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    /*background: #19c589;*/
}
h1 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: justify;
    color: #333;
}
nav {
    /*border-bottom: 1px solid #d5d5d5;*/
    font-size: 1.4em;
    position: fixed;
    top: 0;
    width: 80%;
    background-color: #F5F5F5;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}

/*Responsive Styles*/
@media screen and (max-width : 480px){
    /*Make dropdown links appear inline*/
    nav ul {
        position: absolute;
        display: inline;
    }
    /*Create vertical spacing*/
    nav li {
        margin-bottom: 1px;
    }
     /*Make all menu links full width*/
    nav ul li, li a {
        width: 100%;
    }
 }
/*Style for menu links*/
nav li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
nav li a:hover {
    text-decoration: none;
    background: #19c589;
}
