
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/css/all.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="5-6UxW8cVM0Q51bcDTd_NH2EcCmu8qvVvTnpLisn7l0" />
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
			<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      		<br>
    		{{ content }}
      
		</div>
  	<footer>
    		<ul>
        		<li><a href="mailto:afsersid@gmail.com" title="Email Me"><i class="fas fa-envelope-square fa-lg" aria-hidden="true"></i></a></li>
        		<li><a href="https://github.com/afsersid" title="Github Profile"><i class="fab fa-github-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://www.linkedin.com/in/afsersid/" title="Linkedin Profile"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://facebook.com/afser.rubel" title="Facebook Profile" rel="nofollow noopener noreferrer"><i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="/blog/atom.xml" title="RSS Feed"><i class="fas fa-rss-square fa-lg" aria-hidden="true"></i></a></li>
		</ul>
	</footer>
	</body>
</html>
